<h1>Currency pairs</h1>
 <p>Go <a href="/">back</a></p>
 <%= @array_of_symbols%>
<ul>
<%# @array_of_symbols.each do|a_sym|%>
<li>
<a href ="/forex/AED">
Convert 1 AED to...
</a>
</li>bol
<%#end%>
</ul>
